@import "tailwindcss";
@plugin "daisyui";



@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1100px;
}

/* For small text clamp */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
