@import "tailwindcss";
@plugin "daisyui";



@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1100px;
}

/* For small text clamp */
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.section {
  padding-top: 4rem; /* or py-16 in Tailwind */
  padding-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; /* or use container class */
}
.section-wrapper {
  @apply container mx-auto px-4 py-16;
}
/* bg-gradient-to-r from-pink-300 to-blue-300  text-white */